= form_with model: month do |form|
  %div
    =form.label :cover_picture
    =form.file_field :cover_picture
  %br
  %p
  = form.label :month
  = form.select :month, Month.options_for_select
  %br
  %p
  = form.label :year
  = form.select :year, (Date.today.year - 10)..(Date.today.year + 10)
  
  %br
  %div
    = form.submit
                                 
