- content_for :title, "Past Data"
%h1 Months
- @months.each do |month|
  %li
    = link_to "#{month.name} #{month.year}", month
%br/
= link_to "Add New Month", new_month_path
%p
  = link_to "Home", root_path
%br/
%br/
.paginate
  = will_paginate @months, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
