- content_for :title, "Past Data"
%h1
  For the month of #{@month.month} #{@month.year}
  = column_chart(@data) 
- if @month.cover_picture.attached?
  = image_tag @month.cover_picture, style: "width: 300px; height: 400px"
%p
  = link_to "Go Back", months_path
%p
  = link_to "Edit this Month", edit_month_path(@month)
%p
  = link_to "Delete this Month", month_path(@month), data: { |
      turbo_method: :delete,                                 |
      turbo_confirm: "Are you sure?"                         |
    }                                                        |    

= render "table", total: @month.sum_income_realized, header: 'Realized Income:', shows_earner: true, collection: @month.incomes.select { |income| income.status == "Realized" }
= render "table", total: @month.sum_income_expected, header: 'Expected Income:', shows_earner: true, collection: @month.incomes.select { |income| income.status == "Expected" }

%h6 Add an Income:
= render 'incomes/form'
%br
= render "table", total: @month.sum_expense_realized, header: 'Realized Expenses:', shows_earner: false, collection: @month.expenses.select { |expense| expense.status == "Realized" }
= render "table", total: @month.sum_expense_expected, header: 'Expected Expenses:', shows_earner: false, collection: @month.expenses.select { |expense| expense.status == "Expected" }
%h6 Add an expense:
= render 'expenses/form'
