<% content_for :title, "Past Data" %>
<h1> For the month of <%= @month.title  %></h1>
<%= link_to "Go Back", months_index_path %>


<h2>Income: $<%= @month.sum_income %></h2>
<%= render @month.incomes %>

<h4>Add an Income:</h4>
<%= render 'incomes/form' %>

<h2>Expenses: $<%= @month.sum_expense %></h2>
<%= render @month.expenses %>

<h4>Add an expense:</h4>
<%= render 'expenses/form' %>

<br>
</br>
<p>
  <%= link_to "Edit this Month", edit_month_path(@month) %>
</p>
<p>
  <%= link_to "Delete this Month", month_path(@month), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
<div class = "total_section">
  <h1> <%= @month.title %> totals</h1>
</div>
<div class = "total_section1">
  <h4>Income: $<%= @month.sum_income %></h4>
</div>
<div class = "total_section2">
  <h4>Expenses: $<%= @month.sum_expense %></h4>
</div>
<div class = "total_section3">
  <h4>----------------</h4>
</div>
<div class = "total_section4">
  <h4>Balance: $<%= @month.sum_income - @month.sum_expense %></h4>
</div>