- content_for :title, "Past Data"
%h1
  For the month of #{@month.month} #{@month.year}
- if @month.cover_picture.attached?
  = image_tag @month.cover_picture, style: "width: 300px; height: 400px"
%p
  = link_to "Go Back", months_index_path
%p
  = link_to "Edit this Month", edit_month_path(@month)
%p
  = link_to "Delete this Month", month_path(@month), data: { |
      turbo_method: :delete,                                 |
      turbo_confirm: "Are you sure?"                         |
    }                                                        |    
%h4
  Expected Income: $#{@month.sum_income_expected}
%table.table.table-striped.table-sm{:style => "width: 50%"}
  %thead
    %tr
      %th{:scope => "col", :style => "width: 20%"} Source
      %th{:scope => "col", :style => "width: 20%"} Amount
      %th{:scope => "col"} Earner
  - @month.incomes.each do |income|
    -if income.status == "Expected" 
      %tbody
        %tr
          %td
            = income.title
          %td
            = income.amount
          %td
            = income.earner
          %td
            = link_to "Delete", [income.month, income], data: { |
                turbo_method: :delete,                          |
                turbo_confirm: "Are you sure?"                  |
              }                                                 |
  %tr
    %td Total
    %td
      $#{@month.sum_income_expected}
%h4
  Realized Income: $#{@month.sum_income_realized}
%table.table.table-striped.table-sm{:style => "width: 50%"}
  %thead
    %tr
      %th{:scope => "col", :style => "width: 20%"} Source
      %th{:scope => "col", :style => "width: 20%"} Amount
      %th{:scope => "col"} Earner
  - @month.incomes.each do |income|
    -if income.status == "Realized" 
      %tbody
        %tr
          %td
            = income.title
          %td
            = income.amount
          %td
            = income.earner
          %td
            = link_to "Delete", [income.month, income], data: { |
                turbo_method: :delete,                          |
                turbo_confirm: "Are you sure?"                  |
              }                                                 |
  %tr
    %td Total
    %td
      $#{@month.sum_income_realized}     
%h6 Add an Income:
= render 'incomes/form'
%br/
%h4
  Realized Expenses: $#{@month.sum_expense_realized}
%table.table.table-striped.table-sm{:style => "width: 50%"}
  %thead
    %tr
      %th{:scope => "col", :style => "width: 30%"} Expense
      %th{:scope => "col"} Amount
  - @month.expenses.each do |expense|
    -if expense.status == "Realized" 
      %tbody
        %tr
          %td
            = expense.title
          %td
            = expense.amount
          %td
            = link_to "Delete", [expense.month, expense], data: { |
                turbo_method: :delete,                            |
                turbo_confirm: "Are you sure?"                    |
              }                                                   |
  %tr
    %td Total
    %td
      $#{@month.sum_expense_realized}
%h4
  Expected Expenses: $#{@month.sum_expense_expected}
%table.table.table-striped.table-sm{:style => "width: 50%"}
  %thead
    %tr
      %th{:scope => "col", :style => "width: 30%"} Expense
      %th{:scope => "col"} Amount
  - @month.expenses.each do |expense|
    -if expense.status == "Expected" 
      %tbody
        %tr
          %td
            = expense.title
          %td
            = expense.amount
          %td
            = link_to "Delete", [expense.month, expense], data: { |
                turbo_method: :delete,                            |
                turbo_confirm: "Are you sure?"                    |
              }                                                   |
  %tr
    %td Total
    %td
      $#{@month.sum_expense_expected}
%h6 Add an expense:
= render 'expenses/form'
