<% content_for :title, "Past Data" %>
<h1> For the month of <%= @month.title  %></h1>
<%= link_to "Go Back", months_index_path %>


<h2>Income:</h2>
<%= render @month.incomes %>

<h4>Add an Income:</h4>
<%= render 'incomes/form' %>

<h2>Expenses:</h2>
<%= render @month.expenses %>

<h4>Add an expense:</h4>
<%= render 'expenses/form' %>

<br>
</br>
<p>
  <%= link_to "Edit this Month", edit_month_path(@month) %>
</p>
<p>
  <%= link_to "Delete this Month", month_path(@month), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
