<%= form_with model: future_month do |form| %>
    <div>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
      <% future_month.errors.full_messages_for(:title).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>
    <div>
      <%= form.text_field :user_id,
      id: :future_month_user_id,
      value: current_user.id,
      type: :hidden  %>
    </div>
    <div>
      <%= form.submit %>
    </div>
    <div>
      <%= form.label :status %><br>
      <%= form.select :status, ['public', 'private', 'archived'],
    selected: 'public' %>
    </div>
  <% end %>