<% content_for :title, "Future Data" %>
<h1> For the month of: <%= @future_month.title %></h1>
<%= link_to "Go Back", future_months_index_path %>


<h2>Income: $<%= @future_month.sum_future_income %></h2>
<%= render @future_month.expected_incomes %>

<h4>Add an Income:</h4>
<%= render 'expected_incomes/form' %>

<h2>Expenses: $<%= @future_month.sum_future_expense %></h2>
<%= render @future_month.expected_expenses %>

<h4>Add an expense:</h4>
<%= render 'expected_expenses/form' %>

<br>
</br>
<p>
  <%= link_to "Edit this Month", edit_future_month_path(@future_month) %>
</p>
<p>
  <%= link_to "Delete this Month", future_month_path(@future_month), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>
