<% content_for :title, "Future Data" %>
<h1> For the month of <%= @future_month.title %></h1>
<%= link_to "Go Back", future_months_index_path %>


<h2>Income: $<%= @future_month.sum_future_income %></h2>
<%= render @future_month.expected_incomes %>

<h4>Add an Income:</h4>
<%= render 'expected_incomes/form' %>

<h2>Expenses: $<%= @future_month.sum_future_expense %></h2>
<%= render @future_month.expected_expenses %>

<h4>Add an expense:</h4>
<%= render 'expected_expenses/form' %>

<br>
</br>
<p>
  <%= link_to "Edit this Month", edit_future_month_path(@future_month) %>
</p>
<p>
  <%= link_to "Delete this Month", future_month_path(@future_month), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
</p>

<div class = "total_section">
  <h1> <%= @future_month.title %> totals</h1>
</div>
<div class = "total_section1">
  <h4>Income: $<%= @future_month.sum_future_income %></h4>
</div>
<div class = "total_section2">
  <h4>Expenses: $<%= @future_month.sum_future_expense %></h4>
</div>
<div class = "total_section3">
  <h4>----------------</h4>
</div>
<div class = "total_section4">
  <h4>Projected balance: $<%= @future_month.sum_future_income - @future_month.sum_future_expense %></h4>
</div>
<% if @future_month.sum_future_income - @future_month.sum_future_expense >0 %>
  <div class = "total_section5">
    Remember to help others!
  </div>
<% else %>
  <div class = "total_section5"> 
    Act your wage!
  </div>
<% end %>
