<%= form_with model: [ @future_month, @future_month.expected_expenses.build ] do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title,
      placeholder: "Enter expense/bill" %>
    </p>
    <p>
        <%= form.label :amount %><br>
        <%= form.text_field :amount,
        placeholder: "Enter amount" %>
    </p>
    <p>
      <%= form.submit %>
    </p>
    <p>
        <%= form.label :status %><br>
        <%= form.select :status, ['public', 'private', 'archived'],
    selected: 'public' %>
    </p>

  <% end %>
  