= form_with model: goal do |form|
  %p
  = form.label :title
  %br
  %p
  = form.label :initial_value
  %br
  %p
  = form.label :goal_value
  %br
  %p
  = form.label :years_to_save
  %br
  %div
    = form.submit

