- content_for :title, "Goals"
%h1 Goals
%ol
  - @goals.each do |goal|
    %li
      = link_to "#{goal.title}", goal
= link_to "Download Goal Summary", goals_path(format: :csv)
%p
= link_to "Add New Goal", new_goal_path
%p
= link_to "Home", root_path
.row
  .col-md-6
    = render "calculator/calculator"
  .col-md-6
    = render "beer"