- content_for :title, "Goals"
%h1 Goals
%ol
  - @goals.each do |goal|
    %li
      = link_to "#{goal.title}", goal
%br
= link_to "Add New Goal", new_goal_path
%p
  = link_to "Home", root_path
%h4 Compound Interest Calculator:
= render "calculator/calculator"
%br
%h4 Saving money is hard work. You deserve a beer.
%p Enter your location and we'll find a brewery near you!
= render "beer"