<header>
    <div> "This is my cute little navbar"
        <nav>
            <ul>
                <li><%= link_to "Home", root_path %></li>
                <% if user_signed_in? %>
                    <li><%= link_to "Past Data", months_index_path %> </li>
                    <li><%= link_to "Future Data", future_months_index_path %> </li>
                    <li><%= button_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
                    <li><%= link_to "Edit User Profile", edit_user_registration_path %> </li>
                <% else %>
                    <li><%= link_to "Sign Up", new_user_registration_path %> </li>
                    <li><%= link_to "Sign In", new_user_session_path %> </li>
                <% end %>
            </ul>
        </nav>
    </div>
</header>